<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Webpage</title>
  </head>
  <body>
    <h2>Send name</h2>
    <form method="post" action="/">
      <input name="name" placeholder="Name" />
      <button type="submit">Send</button>
    </form>
    <a href="/about">About Page</a>
    <br />
    <a href="/contact">Contact Page</a>

    <a href="/api/admin">Admin Info</a>
  </body>
</html>
